{% extends "base.html" %}

{% block content %}

<form action="/signup" method="post">
    <label>Username:*</label>
    <input type="text" name="usrnm" value={{username}}><span class='user_error' style="color:red">{{user_error}}</span><br>
    <label>Password:*</label>
    <input type="password" name="pwd1"><span class='pwd1_error' style="color:red">{{pwd1_error}}</span><br>
    <label>Re-enter password:*</label>
    <input type="password" name="pwd2"><span class='pwd2_error' style="color:red">{{pwd2_error}}</span><br>
    <label>Email address (optional):</label>
    <input type="text" name="email" value={{email_addr}}><span class='email_error' style="color:red">{{email_error}}</span><br>
    <input type="submit" value="Sign Up">
    <p>All fields with a (*) are required</p>
</form>


{% endblock %}